@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "yekanBakht";
  src: url("../../public/fonts/YekanBakhRegular.otf");
}
@font-face {
  font-family: "yekanBakhtBold";
  src: url("../../public/fonts/YekanBakhBold.otf");
}


